<% include header %>

<form method="POST" action="/upload" enctype="multipart/form-data" class="form-inline">
  <fieldset>
    <legend>Select the instance</legend>
    <label>Castor: 
      <select name="instance" id="instance">
        <% for(var i in config.instances) { %>
          <% var inst = config.instances[i] %>
        <option value="<%= inst.id%>"
          <% if(inst.id == instance) { %> selected<% } %> 
          ><%= inst.title %></option>
        <% } %>
      </select>
    </label>
  </fieldset>
  <fieldset>
    <legend>Upload</legend>
    <label>Data file:
      <input type="file" name="notices" id="notices" required class="input-large">
    </label>
    <input type="submit" value="Upload" class="btn btn-primary">
    <span class="help-block">

      Chose a data file to upload.

    </span>
    <span class="help-block">

<% if (instance !== undefined && config.instances[instance].url_root) { %>


<a href="<%=
config.instances[instance].url_root %>">See the data</a>


<% } %>
    </span>
  </fieldset>

  <div class="clear" />

  <% for (var type in status) { %>
  <div class="alert alert-<%= type %>">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    <%= status[type] %>
  </div>
    
  <% } %>
  

</form>

<% include footer %>
